.address--bgcolor {
  padding-top: 28px;

  background-color: #f2f2f2;
}

.address__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  @include padding;
}

.address__coop {
  width: 50%;

  padding-top: 2px;

  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
}

.address__location {
  width: 50%;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.address__map {
  height: 362px;
}

@media (min-width: $tablet-width) {
  .address--bgcolor {
    padding-top: 63px;
  }

  .address__container {
    margin-bottom: 58px;
    padding: 0 72px;
  }

  .address__coop {
    width: 175px;

    padding-top: 5px;

    font-size: 20px;
    line-height: 25px;
  }

  .address__location {
    width: 175px;

    font-size: 16px;
    text-align: right;
  }

  .address__location span {
    display: inline-block;
    padding-top: 20px;
  }

  .address__map {
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: relative;
  }

  .address--bgcolor {
    padding-top: 0;
  }

  .address__container {
    position: absolute;
    top: 95px;
    left: 114px;
    align-items: center;
    z-index: 1;

    width: 570px;
    height: 201px;
    margin-bottom: 0;

    background-color: #ffffff;
  }

  .address__coop {
    padding-top: 9px;
  }

  .address__location {
    padding-top: 5px;
    text-align: left;
  }

  .address__map {
    height: 400px;
  }
}
