.advantages {
  margin-bottom: 42px;
  @include padding;
  padding-top: 2px;
}

.advantages__wrapper {
  @include padding;
}

.advantages__title {
  display: block;
  margin-bottom: 23px;

  font-family: $oswald;
  font-size: $big;
  line-height: 60px;
  font-weight: 400;
  color: $black;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";

    display: inline-block;
    width: 60px;
    height: 60px;
    z-index: 1;

    background-image: url("../../../img/sprite.png");
    background-repeat: no-repeat;
    background-color: #68b738;
  }

  &--usefully::before {
    background-position: -96px -14px;
  }

  &--powder::before {
    background-position: -270px -17px;
  }

  &--change::before {
    background-position: -12px -15px;
  }

  &--time::before {
    background-position: -182px -15px;
  }
}

.advantages__description {
  display: inline-block;
  width: 200px;
  margin: 0;
  margin-left: 20px;
  z-index: 1;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 18px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__title {
    margin-bottom: 63px;

    font-size: $biggest;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    position: relative;

    width: 324px;
    margin-bottom: 133px;

    flex-direction: column;
    align-items: flex-start;

    &--change,
    &--time {
      margin-bottom: 102px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &--usefully::before {
      background-position: -86px -4px;
    }

    &--powder::before {
      background-position: -260px -6px;
    }

    &--change::before {
      background-position: -1px -5px;
    }

    &--time::before {
      background-position: -172px -5px;
    }

    &::after {
      position: absolute;
      top: 132px;

      display: block;
      width: 121px;
      height: 228px;

      font-size: 281px;
      font-family: $oswald;
      color: #f2f2f2;
    }
  }

  .advantages__item--usefully::after {
    content: "1";
    left: 118px;
  }

  .advantages__item--powder::after {
    content: "2";
    left: 111px;
  }

  .advantages__item--change::after {
    content: "3";
    left: 113px;
  }

  .advantages__item--time::after {
    content: "4";
    left: 112px;
  }

  .advantages__description {
    width: 265px;
    margin-top: 32px;
    margin-left: 0px;

    font-size: $small;
    line-height: 24px;
  }
}
