.categories {
  position: relative;

  display: inline-block;
  margin-bottom: 19px;
  padding-top: 34px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: $lightgrey;
}

.categories__title {
  display: block;

  font-family: $oswald;
  font-size: 24px;
  font-weight: inherit;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  &::before {
    content: "44";

    position: absolute;

    display: inline-block;

    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
  }
}

.categories__title--slim {
  margin-left: 12px;

  &::before  {
    top: 22px;
    left: 22px;

    width: 50px;
    height: 53px;

    background-position: -10px -10px;
  }
}

.categories__title--fat {
  margin-left: 40px;

  &::before  {
    top: 24px;
    left: 13px;

    width: 67px;
    height: 50px;

    background-position: -80px -10px;
  }
}

.categories__description {
  margin-top: 26px;
  margin-bottom: 21px;
  padding-bottom: 21px;

  font-size: 14px;
  line-height: 18px;

  border-bottom: 1px solid #d9d9d9;
}

.categories__link {
  display: block;
  padding-bottom: 21px;

  font-family: $oswald;
  font-size: $small;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
}
