.categories {
  position: relative;

  display: inline-block;
  margin-bottom: 19px;
  padding-top: 34px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: $lightgrey;
}

.categories__title {
  display: block;
  margin-left: 71px;

  font-family: $oswald;
  font-size: 24px;
  font-weight: inherit;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;

    display: inline-block;
    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &::after  {
    content: "";
    position: absolute;

    display: inline-block;

    background-repeat: no-repeat;
    background-position: center;

  }
}

.categories__title--slim {

  &::after  {
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../../../img/svg/cat-sit.svg");
    background-size: 40px;
  }
}

.categories__title--fat {

  &::after  {
    top: 24px;
    left: 12px;

    width: 70px;
    height: 50px;

    background-image: url("../../../img/svg/cat-go.svg");
    background-size: 75px;
  }
}

.categories__description {
  margin-top: 26px;
  margin-bottom: 21px;
  padding-bottom: 21px;

  font-size: 14px;
  line-height: 18px;

  border-bottom: 1px solid #d9d9d9;
}

.categories__link {
  display: block;
  padding-bottom: 21px;

  font-family: $oswald;
  font-size: $small;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &::after {
    content: "";

    display: inline-block;
    width: 24px;
    height: 11px;
    margin-left: 12px;
    margin-bottom: 1px;

    background-image: url("../../../img/svg/arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    width: 33px;
    background-image: url("../../../img/svg/arrow-long.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    width: 708px;
    margin-bottom: 30px;
    padding-top: 82px;
    padding-left: 53px;
    box-sizing: border-box;
  }

  .categories__title {
    margin-left: 1px;

    font-size: $big;
    line-height: 37px;

    &::before {
      width: 200px;
      height: 200px;
    }
  }

  .categories__title--slim {

    &::before {
      top: 92px;
      left: 446px;
    }

    &::after {
      left: 475px;
      top: 80px;

      width: 140px;
      height: 194px;

      background-size: 162px;
    }
  }

  .categories__title--fat {

    &::before {
      top: 91px;
      left: 448px;
    }

    &::after {
      left: 411px;
      top: 134px;

      width: 268px;
      height: 112px;

      background-size: 302px;
    }
  }

  .categories__description {
    width: 340px;
    margin-top: 20px;
    margin-bottom: 37px;

    font-size: $small;
    line-height: 24px;

    border-bottom: none;
  }

  .categories__link {
    padding-bottom: 59px;

    font-size: $medium;
    line-height: 20px;

    &::after {
      margin-left: 23px;
      margin-bottom: 3px;
    }
  }
}
