.choice {
  font-family: $oswald;
  color: $white;
  text-transform: uppercase;
  // background-color: $green;
}

.choice__title {
  font-size: $big;
  line-height: 36px;
  font-weight: inherit;
  text-transform: none;
}

.choice__slogan {
  font-size: $medium;
}

.choice__button {
  font-size: 20px;
  padding: 12px 40px 10px;
}
