.choice {
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

.choice__title {
  font-size: $biggest;
  line-height: 60px;
  font-weight: inherit;
  text-transform: none;
}

.choice__slogan {
  font-size: $medium;
}

.choice__button {
  font-size: 20px;
  padding: 12px 40px 10px;
}
