.example {
  @include padding;

  margin-bottom: 28px;
  padding-bottom: 32px;

  background-color: $lightgrey;
}

.example__title {
  display: block;
  padding-top: 34px;
  margin-bottom: 30px;

  font-family: $oswald;
  font-size: $big;
  line-height: 36px;
  font-weight: 400;
  color: $black;
}

.example__text {
  width: 270px;
  margin: 0;
  margin-bottom: 26px;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .example {
    margin-bottom: 63px;
    padding: 0;
    background-color: #ffffff;
  }

  .example__title {
    @include padding;
    margin-bottom: 55px;

    font-size: $biggest;
    line-height: 60px;
  }

  .example__text {
    @include padding;
    width: 700px;
    margin-bottom: 53px;

    font-size: $small;
    line-height: 24px;
  }

  .example__result {
    @include padding;
  }
}
