.example {
  margin-bottom: 28px;
}

.example__wrapper {
  @include mobile-padding;
  padding-bottom: 32px;
  background-color: $lightgrey;
}

.example__title {
  display: block;
  padding-top: 34px;
  margin-bottom: 30px;

  font-family: $oswald;
  font-size: $big;
  line-height: 36px;
  font-weight: 400;
  color: $black;
}

.example__text {
  width: 270px;
  margin: 0;
  margin-bottom: 26px;

  font-size: 14px;
  line-height: 18px;
}
