.main-nav {
  font-size: $medium;
  font-family: $oswald;
}

.main-nav--close {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav--close {
    display: block;
  }

  .main-nav__list {
    display: flex;
    width: 440px;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 479px;
    padding-top: 2px;
  }
}
