.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  @include padding;
  padding-top: 39px;
  background-color: #f2f2f2;
}

.page-footer__logo {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
  margin-bottom: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-bottom: 22px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;
    min-height: 150px;
    padding-top: 58px;
  }

  .page-footer__logo {
    margin-bottom: 0;
    padding-top: 6px;
    padding-left: 1px;
  }

  .page-footer__social,
  .page-footer__copyright {
    padding-bottom: 0;
  }

  .page-footer__logo,
  .page-footer__social {
    border-bottom: none;
  }
}
