.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  @include padding;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 65px;
}

.page-header__logo {
  display: inline-block;
  width: 33px;
  height: 38px;
}

.page-header__logo-image {
  width: 33px;
  height: 38px;
  margin-top: 11px;
}

.page-header__name {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-right: 10px;
}

.page-header__logo-name {
  width: 101px;
  height: 18px;
}

.page-header__button-menu {
  width: 24px;
  height: 18px;
  border: none;

  margin-top: 23px;
  padding: 0;

  background-image: url("../img/svg/m-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  cursor: pointer;
}

.page-header__button-menu--close {
  background-image: url("../img/svg/m-menu.svg");
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: 62px;
  }

  .page-header__wrapper {
    display: flex;
    width: $tablet-width;
    justify-content: space-between;
    padding-top: 21px;
  }

  .page-header__logo-image,
  .page-header__name,
  .page-header__button-menu {
    display: none;
  }

  .page-header__top {
    width: 220px;
  }

  .page-header__logo {

    &::before {
      content: "";
      position: relative;
      top: 3px;
      right: 0px;

      display: block;
      width: 173px;
      height: 58px;

      background-image: url("../img/tablet/svg/logo-tablet.svg");
      background-repeat: no-repeat;
      background-size: 173px 58px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: 79px;
  }

  .page-header__wrapper {
    width: 1440px;
    padding-top: 51px;
  }

  .page-header__wrapper--background {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 1px;

      width: 720px;
      height: 696px;

      background-image: url("../img/desktop/index-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: 720px 696px;
      background-color: #64a83b;
    }
  }

  .page-header__logo {

    &::before {
      content: "";

      width: 202px;
      height: 59px;

      background-image: url("../img/desktop/logo-desktop.svg");
      background-size: 202px 59px;
    }
  }
}
