.site-list__item {
  margin-top: 23px;
  margin-bottom: 42px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.site-list__item:last-of-type {
  margin-bottom: 0;
}

.site-list__link {
  font-size: $medium;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $link-dark-hover;
  }

  &:active {
    color: $link-dark-down;
  }

  // &--active {
  //   padding-bottom: 10px;
  //   border-bottom: 2px solid $green;

  //   &:hover {
  //     cursor: default;
  //     color: $black;
  //   }
  // }
}
