.slider {
  text-align: center;
  color: #111111;
}

.slider__photo {
  position: relative;

  width: 100%;
  height: 240px;
  margin-bottom: 24px;

  background-image: url("../img/cat-before-mobile.png");
  background-repeat: no-repeat;
  background-position: -20px 0;
}

.slider__photo--after {
  background-image: url("../img/cat-after-mobile.png");
  background-position: center;
}

.slider__scale {
  position: relative;

  display: inline-block;
  width: 84px;
  height: 14px;
  margin: 0 14px;
  box-sizing: border-box;

  border: 1px solid #cdcdcd;
  border-radius: 6px;

  cursor: pointer;

  &::after {
    content: "";

    position: absolute;

    top: 3px;
    left: 6px;

    display: block;
    width: 35px;
    height: 6px;

    background-color: #68b738;
    border-radius: 3px;

    transition-duration: 200ms;
  }
}
.slider__before {
  margin-left: 4px;
}

.slider__before,
.slider__after {
  font-family: $oswald;
  text-transform: uppercase;

  cursor: pointer;
}

.slider__radio {
  display: none;
}

.slider__scale--right {
  &::after {
    left: 40px;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    width: 768px;
    min-height: 462px;

    background: linear-gradient(90deg,#f2f2f2 50%, #eaeaea 50%);
    background-color: #f2f2f2;
  }

  .slider__photo {
    margin-bottom: 129px;
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      top: -157px;
      left: 0;

      width: 50%;
      height: 499px;

      background-image: url("../img/tablet/cat-before.png");
      background-position: 46px 6px;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      top: -168px;
      right: 0;

      width: 50%;
      height: 512px;

      background-image: url("../img/tablet/cat-after.png");
      background-position: -247px -1px;
      background-repeat: no-repeat;
    }
  }
  .slider__before,
  .slider__after {
    display: inline-block;
    margin: 0;
    padding-bottom: 3px;

    font-family: $oswald;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

    border-bottom: 1px solid #bebebe;
    border-bottom-style: dotted;

    cursor: pointer;
  }

  .slider__scale {
    top: -5px;

    width: 428px;
    height: 6px;
    margin: 0 17px;

    border: none;
    background-color: #dcdcdc;

    &::after {
      top: -14px;
      left: 199px;

      width: 32px;
      height: 32px;


      background: radial-gradient(ellipse at center,#68b738 15%,#ffffff 20%);
      background-color: #ffffff;

      border-radius: 50%;
      border: 1px solid #cdcdcd;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }
  }
}
