.social__list {
  display: flex;
  width: 128px;
  justify-content: space-between;

  margin: auto;
  padding: 0;
}

.social__item {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.social__link--vk {
  width: 22px;
  height: 16px;

  margin-left: -6px;
}

.social__link--in {
  width: 16px;
  height: 16px;
}

.social__link--fb {
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;
  }

  .social__list {
    padding-left: 35px;
    padding-top: 5px;
  }

  .social__item {
    width: 32px;
    height: 32px;
  }

  .social__link--vk {
    position: relative;
    left: -4px;

    width: 30px;
    height: 20px;
  }

  .social__link--in {
    width: 23px;
    height: 23px;
  }

  .social__link--fb {
    position: relative;
    top: -3px;
    left: -1px;

    width: 14px;
    height: 28px;
  }
}
