.catalog {
  margin-bottom: 32px;
}

.catalog__title {
  margin: 0;
  padding: 20px 20px 23px;

  font-family: $oswald;
  font-size: $big;
  line-height: 60px;
  font-weight: 400;
  color: $black;

  border-top: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 72px;
  }

  .catalog__title {
    font-size: $biggest;
    line-height: 60px;

    margin-bottom: 156px;
    padding: 0;
    padding-left: 30px;

    border-top: none;
  }
}
