.list-catalog {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-catalog__item {
  min-height: 208px;
  padding: 0 20px;

  border: 1px solid #ededed;
  border-bottom: none;
}

.list-catalog__container {
  position: relative;
  display: flex;
}

.list-catalog__image {
  width: 140px;
  height: 144px;
}

.list-catalog__discription {
  width: 140px;
}
