.list-catalog {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-catalog__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 280px;
  padding: 0 19px;

  border: 1px solid #ededed;
  border-bottom: none;
}

.list-catalog__image {
  width: 140px;
  height: 144px;
}

.list-catalog__discription {
  width: 140px;
}

.list-catalog__order {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .list-catalog {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .list-catalog__image {
    display: none;
  }

  .list-catalog__item {
    position: relative;

    width: 324px;
    padding: 166px 38px 0 38px;
    margin-bottom: 140px;
    box-sizing: border-box;

    background-color: #f2f2f2;

    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 6px;
      bottom: 351px;

      display: block;
      margin: auto;

      background-image: url("/img/prod-sprite.png");
      background-repeat: no-repeat;
    }
  }

  .list-catalog__item--prod1 {

    &::before {
      width: 161px;
      height: 172px;

      background-position: -7px -5px;
    }
  }

  .list-catalog__item--prod2 {

    &::before {
      width: 195px;
      height: 208px;

      background-position: -176px -6px;
    }
  }

  .list-catalog__item--prod2,
  .list-catalog__item--prod4,
  .list-catalog__item--prod6 {
    &::before {
      bottom: 386px;
    }
  }

  .list-catalog__item--prod3 {

    &::before {
      width: 163px;
      height: 174px;

      background-position: -381px -6px;
    }
  }

  .list-catalog__item--prod4 {

    &::before {
      width: 194px;
      height: 208px;

      background-position: -554px -6px;
    }
  }

  .list-catalog__item--prod5 {

    &::before {
      width: 161px;
      height: 171px;

      background-position: -759px -5px;
    }
  }

  .list-catalog__item--prod6 {

    &::before {
      width: 195px;
      height: 208px;

      background-position: -929px -6px;
    }
  }

  .list-catalog__item--prod7 {

    &::before {
      width: 195px;
      height: 208px;

      background-position: -1119px 11px;
    }
  }

  .list-catalog__item--prod7,
  .list-catalog__item--prod8 {
    margin-bottom: 0;
  }

  .list-catalog__discription {
    width: 100%;
  }

  .list-catalog__order {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .list-catalog__item {
    width: 245px;

    margin-bottom: 142px;
  }

  .list-catalog__item--prod5,
  .list-catalog__item--prod6,
  .list-catalog__item--prod7,
  .list-catalog__item--prod8 {
    margin-bottom: 0;
  }
}
