.show-more {
  position: relative;

  flex-direction: column;
  justify-content: flex-end;

  padding-top: 81px;

  text-align: center;

  border-bottom: 1px solid #ededed;

  &::before  {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 127px;

    display: block;
    width: 2px;
    height: 30px;
    margin: auto;

    background-color: #d3d3d3;
  }

  &::after  {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 127px;

    display: block;
    width: 30px;
    height: 2px;
    margin: auto;

    background-color: #d3d3d3;
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 7px;

  font-family: $oswald;
  font-size: $small;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

.show-more__title b {
  font-weight: 400;
}

.show-more__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
}

.show-more__button {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .show-more {
    justify-content: flex-start;
    align-items: center;

    padding-top: 166px;

    border: 1px solid #e6e6e6;
    background-color: #ffffff;

    &::before  {
      bottom: 261px;

      width: 2px;
      height: 60px;
    }

    &::after  {
      bottom: 261px;

      width: 60px;
      height: 2px;
    }
  }

  .show-more__title {
    width: 150px;
    margin-bottom: 24px;

    font-size: 20px;
  }

  .show-more__text {
    width: 172px;
    margin-bottom: 85px;

    font-size: $small;
    line-height: 18px;
  }

  .show-more__button {
    margin-bottom: 0;
  }
}
