.button {
  width: 280px;
  height: 40px;
  padding-top: 4px;

  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  box-sizing: border-box;
  border: none;
  background-color: $green-btn;

  cursor: pointer;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--more {
  color: $darkgrey;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: $button-show-down;
    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 100%;
  }
}
