@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald-regular-webfont.woff2') format('woff2');
  src: url('../fonts/oswald-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
