// colors
$white: #ffffff;
$darkgrey: #444444;
$lightgrey: #f2f2f2;
$black: #111111;
$green: #68b738;
$bution-hover: #5eaa2f;
$link-light-hover: rgba(255, 255, 255, 0.6);
$link-light-down: rgba(255, 255, 255, 0.3);
$link-dark-hover: rgba(17, 17, 17, 0.6);
$link-dark-down: rgba(17, 17, 17, 0.3);
$button-show-down: rgba(68, 68, 68, 0.3);
$label: #222222;
$input: rgba(205, 205, 205, 0.5);
$input-hover: #cdcdcd;
$input-error: #ff8282;

// fonts
$arial: "Arial", "Verdana", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;

// font sizes
$small: 16px;
$medium: 20px;
$big: 36px;
$biggest: 60px;

$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$tablet-width: 768px;
$desktop-width: 1200px;
