.select {
  margin-bottom: 30px;

  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  background-color: #ffffff;
}

.select__title {
  margin-top: 20px;
  margin-bottom: 22px;
  @include padding;

  font-size: $big;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
}

.select__description {
  width: 270px;
  margin: 0;
  margin-bottom: 37px;
  @include padding;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .select__title {
    margin-bottom: 49px;

    font-size: 60px;
    line-height: 60px;
  }

  .select__description {
    width: 520px;
    margin-bottom: 63px;
    @include paddingForm;

    font-size: 20px;
    line-height: 30px;
  }
}


@media (min-width: $desktop-width) {
  .select {
    @include padding;
  }

  .select__title {
    padding: 0;
  }

  .select__description {
    width: 387px;

    padding: 0;
  }
}
