.select {
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

.select__title {
  margin: 21px 0;
  @include padding;

  font-size: $big;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
}

.select__description {
  width: 270px;
  margin: 0;
  margin-bottom: 40px;
  @include padding;

  font-size: 14px;
  line-height: 18px;
}
